@import "tailwindcss";

:root {
  --background: #0E1D20;
  --foreground: #FFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-rye: var(--font-rye);
}

body {
  background: var(--background);
  color: var(--foreground);
}
